body {
    background-color: #383737;
}

#wrapper {
    text-align: center;
    font-size: 2em;
    width: 80%;
    margin-left: 140px;
    padding-top: 75px;
}
#guess  {
    font-size: 1em;
}
#submit {
    font-size: 1em;
}

#easy {
    width: 100px;
     margin-bottom: 10px;
    
}

#medium {
    width: 100px;
    background-color: white;
    margin-bottom: 10px;
    
}

#hard {
    width: 100px;
    background-color: white;
    margin-bottom: 10px;
    
}


#grad1 {
    background: red;
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2em;
}


#resultText {
    background: red;
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2em;
}



.difficulty {
    height: 40px;
    width: 100px;
    margin-bottom: 10px;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */
}

.row {
    display: flex; 
    justify-content:space-evenly;
    flex-direction:row;
    margin: auto; 
    margin-bottom: 30px;
    width: 500px;
}
    
    
.active {
  box-shadow: 0 0 35px white;
}